<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>website</strong> by <a href="/">Team { }</a>. The source code is licensed
            <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPL 3.0</a>.
        </p>
    </div>
</footer>