<script>
    document.addEventListener('DOMContentLoaded', function () {
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            title
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    dropdown
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="/">
                        1
                    </a>
                    <a class="navbar-item" href="/">
                        2
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/">
                        3
                    </a>
                </div>
            </div>
            <a class="navbar-item" href="/">
                menu
            </a>

        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="https://minwook-shin.github.io" class="button">
                        <span class="icon">
                            <i class="fas fa-home"></i>
                        </span>
                        <strong>homepage</strong>
                    </a>
                    <a href="https://github.com/minwook-shin/typescript-express-ejs-node-starter" class="button">
                        <span class="icon">
                            <i class="fas fa-download"></i>
                        </span>
                        <strong>source code</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>