<% include ../core %>

<body>
    <% include ../navigation %>
    <section class="hero is-info">
        <div class="hero-body">
            <p class="title">
                title
            </p>
            <p class="subtitle">
                subtitle
            </p>
        </div>
    </section>
    <br>
    <div class="tile is-ancestor">
        <div class="tile" style="margin-left:30px;margin-right:30px">
            <div class="tile is-4 is-vertical is-parent">
                <div class="tile is-child box">
                    <p class="title">child box</p>
                    <p>
                        <br>
                        <br>
                        <br>
                    </p>
                </div>
                <div class="tile is-child box">
                    <p class="title">child box</p>
                    <p>
                        <br>
                        <br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <p class="title">child box </p>
                    <p>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
    <% include ../footer %>
</body>

</html>